h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: $font__headings;
}

.fonts-loaded h1,
.fonts-loaded h2,
.fonts-loaded h3,
.fonts-loaded h4,
.fonts-loaded h5,
.fonts-loaded h6 {
  font-family: $font__headings--webfont;
}