// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin centered-content() {
  padding: 0 calc(50% - #{$desktop-content-width/2} );
}

// Clearfix
@mixin clearfix() {
  content: "";
  display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
  clear: both;
}

@mixin bottom-shadow(){
	position: relative;
	
	&:before {
			border-radius: 100px / 10px;
			box-shadow: 0 0 15px rgba(0,0,0,0.6);
			content: '';
			width: 90%;
			margin: 0 auto;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 100px;
			z-index: -2;
		}	
}
