/*--------------------------------------------------------------
# Media-Queries
--------------------------------------------------------------*/

$desktop-content-width: 64em;

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

$font__main: sans-serif;
$font__main--webfont: "Open Sans", sans-serif;
$font__headings: sans-serif;
$font__headings--webfont:"Londrina Solid", sans-serif;
$font__headings--alt: "Open Sans Condensed", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.6;
$font__line-height-pre: 1.6;

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

$color__background-hero: #5c930d;
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__text-main: #3b2d00;
$color__text-screen: #21759b;
$color__callout-fill: #2b3501;
$color__callout-stroke: #2b3501;
$color__blue-link: #0089c9;
$color__body: #ece7cc;
$color__callout-text: #2b3501;
$color__inner-section: #fefaf0;
$color__footer-text: #878e68;