/*--------------------------------------------------------------
# Media-Queries
--------------------------------------------------------------*/

$desktop-content-width: 60em;

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

$font__main: sans-serif;
$font__main--webfont: "Open Sans", sans-serif;
$font__headings: sans-serif;
$font__headings--webfont:"Amatic SC", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.6;
$font__line-height-pre: 1.6;

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

$color__background-hero: #5c930d;
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__text-main: #3b2d00;
$color__text-screen: #21759b;
$color__callout-fill: #3b2d00;
$color__callout-stroke: #3b2d00;
$color__blue-link: #004b8b;
$color__body: #ece7cc;
$color__callout-text: #a6996a;