/*--------------------------------------------------------------
# Media-Queries
--------------------------------------------------------------*/

$desktop-content-width: 64em;
$desktop: 60em;
$tablet: 43.5em;

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

$font__main: sans-serif;
$font__main--webfont: "Open Sans", sans-serif;
$font__headings: sans-serif;
$font__headings--webfont:"Londrina Solid", sans-serif;
$font__headings--alt: "Open Sans Condensed", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.6;
$font__line-height-pre: 1.6;

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

$color__background-hero: #5c930d;
$color__background-body: #ece7cc;
$color__background-inner: #fefaf0;
$color__background-screen: #f1f1f1;
$color__menu-home: #aac680; // light green
$color__menu-page: #2b3501;
$color__green: #407F00; // top green from hero background image
$color__paleblue: #cad9DF; // blue from hero background image
$color__brown: #3b2d00;
$color__text-main: $color__brown; // dark brown
$color__text-screen: #21759b;
$color__callout-fill: #2b3501;
$color__callout-stroke: #2b3501;
$color__blue-link: #0089c9;
$color__callout-text: #2b3501;
$color__inner-section: #fefaf0;
$color__footer-text: #878e68;