.comments-area {
  
}

h2.comments-title {
  font-family: $font__main--webfont;
  text-transform: initial;
  font-size: 1.25rem;
  font-weight: 300;
  padding: 1rem 0 .25rem;
  border-top: 2px solid $background-dark-tan;
}

.comment-list {
  list-style: none;
  padding-left: 0;

  .comment {
    margin-bottom: 2rem;
    // border-left: 1px solid #ccc;
    // padding-left: 2rem;
  }
}

.comment-content {
  margin-top: -0.5rem;
  font-size: 14px;
}

.comment-author .avatar {
  float: left;
  margin-right: 1rem;
}

.comment-metadata {
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
}

.comment-edit-link {
  color: #333;
  display: inline-block;
  margin-left: .25rem;
  padding-left: .25rem;
  border-left: 1px solid #ccc;
}

.comment-textarea {
  margin-top: 6px;
  padding: 0.5rem 1rem;
  border: none;
  box-shadow: 1px 3px 6px rgba(0,0,0,0.2);
  width: 100%;
}

.comment-respond {
  background: #f0f4f5;
  padding: 1rem;
}

.comment-reply-title {
  font-family: 'Open Sans' !important;
  text-transform: unset !important;
  font-size: 1rem;
}

.comments-area .logged-in-as {
  color: #a09b87;
  font-size: .875rem;
}

.comment-form-note-before {
  font-size: 0.875rem;
}