/*
 * Frontpage
 *
 * Sections on the front page, not including the hero.
 * For hero styles,  see _hero.scss.
 *
 */

.section--frontpage:nth-child(3) {
	padding-top: 2em;
}

.section--frontpage:last-of-type {
	padding-bottom: 2em;
}

.section--frontpage__entry-title {
	flex: 1 1 100%;
}

.section--frontpage__entry {
	flex: 0 0 percentage(2/3);
}

.section--frontpage__resources {
	flex: 1 0 percentage(1/3);
	padding-left: 4em;
}

.inner-section {
	align-items: baseline;
	background-color: #fefaf0;
	border: 1px solid #fff;
	display: flex;
	flex-wrap: wrap;
	padding: 1em 2em;
	position: relative;

	&:before {
		border-radius: 100px / 10px;
		box-shadow: 0 0 15px rgba(0,0,0,0.6);
		content: '';
		width: 90%;
		margin: 0 auto;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100px;
		z-index: -2;
	}	
}

.fonts-loaded .resources__title {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: .2px;
	margin: 2px 0;
	text-transform: uppercase;
}

.resource-links {
	margin: 0;
	padding: 0;
	list-style: none;

	a {
		color: $color__blue-link;
		font-size: 14px;
	}
}

.more-link {
	background: $color__blue-link;
    color: white;
    display: inline-block;
    font-weight: 300;
    margin-top: 1rem;
    padding: .5em 1em;
    transition: background .25s;

    &:hover {
    	background: $color__callout-fill;
    }
}