/*
 * Frontpage
 *
 * Sections on the front page, not including the hero.
 * For hero styles,  see _hero.scss.
 *
 */

.content-main--frontpage {
	padding-top: 2em;
	padding-bottom: 2em;
}

.inner-section--fp {
	padding: 0 1em;
}	

.section-title--fp {
	text-transform: uppercase;
}

.fonts-loaded .resources__title {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: .2px;
	margin: 2px 0;
	text-transform: uppercase;
}

.resource-links {
	margin: 0;
	padding: 0;
	list-style: none;

	a {
		color: $color__blue-link;
		font-size: 14px;

		&:hover {
			text-decoration: underline;
		}
	}
}

.more-link {
	border: 2px solid #0089c9;
  color: #0089c9;
  display: inline-block;
  font-family: 'Londrina Solid', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 1rem;
  padding: .25em 1.25em;
  transition: all .25s;
  text-transform: uppercase;

  &:hover {
  	background: #0089c9;
  	color: white;
  }
}


// Media Queries

@media screen and (min-width: 35em){

 	.content-main--frontpage {
		background-color: $color__background-inner;
		position: relative;
	}

	.inner-section--fp {
 		align-items: baseline;
		display: flex;
		flex-wrap: wrap;
 		flex-direction: row;
 	}

	.section-title--fp {
		flex: 1 1 100%;
	}

	.entry-content--fp {
		flex: 0 0 auto;
		margin-right: 5%;
		width: 65%;
	}

 	.section--fp__resources {
		flex: 0 0 auto;
		width: 30%
	}

	.resource-links {
		li {
			border-bottom: 1px solid #ccc;
			line-height: 1.3;
			padding-bottom: 6px;
			margin-bottom: 4px;
		}
	}

}


@media screen and (min-width: $desktop){
	
	.content-main--frontpage {
		background-color: #ece7cc;
	}

	.section--fp {
		position: relative;
		z-index: 1;
	}

	.section--fp:last-of-type {
		margin-bottom: 0;
 	}

  .menu--home > li {
		flex: 0 1 auto;
	}

	.inner-section--fp {
		background-color: #fefaf0;
		padding: 2em;

		@include bottom-shadow();
	}

	.resource-links {
		li {
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 6px;
		}
	}

	// Icon images for front page

	#critical-thinking > .inner-section--fp {
		background: $color__inner-section url(images/critical-thinking.gif) no-repeat right bottom;
		background-size: 174px;
	}
	
	// Community is a special case: image overlaps the content area.
	#community > .inner-section--fp {
		position: relative;
		
		&:after {
			content: " ";
			position: absolute;
			bottom: -34px;
			right: 0;
			width: 285px;
			height: 136px;
			background: url(images/community-leadership.gif) no-repeat right bottom;
			background-size: 100%;
		}
	}

	#social-emotional > .inner-section--fp {
		background: $color__inner-section url(images/social-emotional.gif) no-repeat right bottom;
		background-size: 134px;
	}
}