/*
 * Frontpage
 *
 * Sections on the front page, not including the hero.
 * For hero styles,  see _hero.scss.
 *
 */

.section--frontpage {
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
}

.section--frontpage__entry-title {
	flex: 1 1 100%;
}

.section--frontpage__entry {
	flex: 0 0 percentage(2/3);
}

.section--frontpage__resources {
	flex: 1 0 percentage(1/3);
	padding-left: 4em;
}

.fonts-loaded .resources__title {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: .2px;
	margin: 2px 0;
	text-transform: uppercase;
}

.resource-links {
	margin: 0;
	padding: 0;
	list-style: none;

	a {
		color: $color__blue-link;
		font-size: 14px;
	}
}

.more-link {
	background: $color__blue-link;
    color: white;
    display: inline-block;
    font-weight: 300;
    margin-top: 1rem;
    padding: .5em 1em;
    transition: background .25s;

    &:hover {
    	background: $color__callout-fill;
    }
}