/*
 * Hero
 *
 * Home page hero graphic — the people icon with orbiting concepts
 *
 */



.logged-in .section__welcome {
  background-position: center top;
}

.section__welcome {
	background: #578d18 url(images/amatic-village-optimized-alt.svg) no-repeat;
  background-position: center -36px;
	background-attachment:fixed;
	background-size: 1400px 510px;
	height: 586px;
  padding: 0.5rem;
  z-index:1;
}

.welcome-title {
	color: #fad023;
	font-size: 4em;
  letter-spacing: 1px;
	line-height: 1;
	margin: 0 auto 0.5rem auto;
	text-align: center;
   // if fonts aren't loaded..
  font-size: 40px;
  font-family: sans-serif;
  margin: 18px auto;
}

.fonts-loaded .welcome-title {
  font-size: 4em;
  margin: 0 auto 0.5rem auto;
}

.welcome-subtitle {
  color: #3b2d00;
  display: block;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.hero-wrapper {
	padding: 0 calc(50% - 280px);
}

.hero {
  height: 400px;
  font-family: "Amatic SC", sans-serif;
  list-style: none;
  // padding:0 calc(50% - 320px);
  position: relative;
  text-align: center;
}

.hero__primary {
  background: transparent url(images/amatic-figures-optimized.svg) no-repeat center center;
  height: 252px;
  width: 247px;
  position: absolute;
  margin: 0 auto;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
}

.hero__message {
  background: white;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  position:absolute;
  left:0;
  transform: scale(0);
  transition: transform .3s ease .1s;
}

.callout-text {
	font-family: inherit;
  font-size: 29px;
  font-weight: 400;
  letter-spacing: 1.25px;
  line-height: 1.15;
  margin: auto;
  padding:0.33em;
  transform: translateY(-0.25rem);
  // text-transform: uppercase;
}

.hero__callout {
  background: $color__callout-fill;
  border-radius: 100px;
  border: 6px solid $color__callout-stroke;
  color: $color__callout-text;
  height: 164px;
  width: 164px;
  position: absolute;
  cursor: pointer;
  display: flex;
  transition: all .3s cubic-bezier(0,1.6,1,0.25);
  top: 176px;

  &:hover {
    color: #dbcf9a;
  }
}

.hero__callout:before {
  border-width: 0 60px 72px 60px;
  border-style: solid;
  border-color: transparent transparent $color__callout-fill transparent;
  transition: border-width .2s ease;
  content: '';
  position: absolute;
  display: block;
	height: 0;
  box-sizing: border-box;
  width: 130px;
  z-index:-1;
}

.hero__callout--primary {
  border-radius: 50%;
  border: 12px solid $color__callout-stroke;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
  overflow: hidden;
}

.hero__callout--primary:hover .hero__message{
  //transform: scale(1.0);
}

.hero__message {
  background: white;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  position:absolute;
  left:0;
  transform: scale(0);
  transition: transform .3s ease .1s;
}

.hero__callout span {
  margin: auto;
}

.hero__callout--left { 
  left: 6px;
}

.hero__callout--right {
  right: 0px;  
}

.hero__callout--center {  
  top: 280px;
  left:0;
  right: 0;
  margin: auto;
}

.hero__callout--left:before{
  transform: translate(77px,-15px) rotate(50deg);
}

.hero__callout--center:before{
  transform: translate(11px,-46px);
}

.hero__callout--right:before{
  transform: translate(-55px,-15px) rotate(-50deg);
}

.btn {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  padding:.5em 1.5em;
  border-radius: 5px;
  width: 300px;
  font-size: 18px;
  color: hsla(0,0%,0%,0.75);
  font-weight: 700;
  background: #FFC85B;
  text-align: center;
}