img {
  max-width: 100% !important; // needs to over-ride Wordpress inline style.
}

.alignleft {
  float: left;
  margin: 0 1.5em 1em 0;
  width: 33.3333% !important; // needs to over-ride Wordpress inline style.
}

.alignright {
  float: right;
  margin: 0 0 1em 1.5em;
  width: 33.3333% !important; // needs to over-ride Wordpress inline style.
}

.aligncenter,
.alignnone {
  width: 100% !important;
}

.page__theme-image--left {
	margin-bottom: 1em;
}

.wp-caption-text {
  color: #777;
	font-size: 0.875rem;
	line-height: 1.5;
  margin-top: 0.25rem;
}

@media screen and (min-width: 700px){

	.page__theme-image--left {
		width: 10em;
	  position: absolute;
	  top: 0;
	  left: -12em;
	}

}

@media screen and (min-width: $desktop){

	.page__theme-image--left {
		width: 18rem !important;
	  position: absolute;
	  top: 0;
	  left: -20rem;
	}

	.alignleft {
		border: none;
		padding: 0;
		margin: 0 3em 1em -8em;
		width: 18em !important; // needs to over-ride Wordpress inline style.
	}

	.alignright {
    border: none;
		padding: 0;
		margin: 0 -8em 1em 3em;
		width: 18em !important; // needs to over-ride Wordpress inline style.
  }

  .alignleft.inner {
    margin-left: 0;
  }
  .alignright.inner {
    margin-right: 0;
  }

  .size-thumbnail,
  .thumbnail-image {
    width: 150px !important;
    margin-left: 0;
  }


}
