#primary-menu > li:first-of-type {
  border: none;


  & > a {
    display: none; // hide 'Research Areas' link
  }

}

.main-navigation {

  background: $color__green;

  ul {
    background: $color__menu-page;
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    li {
      border-bottom: 1px solid hsla(0,100%,100%,0.25);
      position: relative;

    }

    a {
      display: block;
      padding: .5em 1em;
      text-decoration: none;
    }

    ul {

      display: block;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        padding: 0.5em 1em;
      }

    }

  }

}

/* Small menu. */

.menu-toggle {
  background: transparent;
  color: white;
  text-align: right;
  width: 100%;
  border: none;
  border-bottom: 1px solid hsla(0,100%,100%,0.25);
  padding: 0.5em 1em;
}

@media screen and (min-width: 45em) {

  #primary-menu > li:first-of-type {
    border: none;
    border-bottom: 1px solid green;

    & > a {
      display: block; // hide 'Research Areas' link
    }

  }

  .menu-toggle {
    display: none;
  }

  .main-navigation {

    ul {

      display: block;

      li {
        background: darken($color__green, 5%);
        border: none;
        color: #a3bf87;
        float: left;
        margin-right: 0.25em;
      }

      li.current-menu-item {
        background: $color__background-body;
        border-bottom: 1px solid $color__background-body;
        color: darken($color__green, 5);
      }

      li:hover {
        background: darken($color__green, 15%);
        color: #cfdec0;
      }

      li:hover > ul,
        li.focus > ul {
          //left: 1em;
          opacity: 1.0;
          visibility: visible;
        }

      ul {
        background: $color__green;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        float: left;
        position: absolute;
        opacity: 0.0;
        // left: -999em;
        transition: all .2s;
        visibility: hidden;
        z-index: 99999;

        a {
          padding: 0.5em 1em;
          width: 340px;
        }

        li {
          background: darken($color__green, 15%);
          margin-right: 0;
        }

        li.current-menu-item  {
          background: darken($color__green, 40%);
          color: #cfdec0;
          font-weight: 700;
        }

        ul {
          left: -999em;
          top: 0;
        }
      }
    }
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
