.inner-content {
	padding: 0 1em;
}

.entry-title {
	font-size: 1.75em;
	line-height: 1;
}

@media screen and (min-width: 700px){

	.inner-content {
		background: $color__background-inner;
		margin-bottom: 2em;
		padding: 0 2em;

		@include bottom-shadow();
	}

	.page .entry-content {
		margin-left: 12em;
		position: relative;
	}

	.entry-title {
		font-size: 3em;
	}

}

@media screen and (min-width: $desktop){

	.inner-content {
		padding: 2em;
	}
	
	.page .entry-content {
		margin-left: 20em;

		p:first-of-type {
			font-size: 1.25em;
			font-weight: 700;
		}
	}

	
}