/* 
 * Styles for the page content type
 *
 * See page.php and
 * template-parts/content-page.php
 * 
 */

.inner-content {
	padding: 0 1em;
}

.entry-title {
	font-size: 1.75em;
	line-height: 1;
}

.entry-content a {
	color: $color__blue-link;

	&:hover {
		text-decoration: underline;
	}
}

@media screen and (min-width: $tablet){

	.inner-content {
		background: $color__background-inner;
		margin-bottom: 2em;
		padding: 0 2em;

	}

	.entry-content {
		position: relative;
		max-width: 40em;
	}

	.entry-title {
		font-size: 3em;
	}

}

@media screen and (min-width: $desktop){

	.inner-content {
		padding: 2em;
		@include bottom-shadow();
	}

	
}