/*
 * Styles for the page content type
 *
 * See page.php and
 * template-parts/content-page.php
 *
 */

.inner-content {
	padding: 1em;
}

.entry-title {
	font-size: 1.75em;
	line-height: 1;
}

.entry-content a {
	color: $color__blue-link;

	&:hover {
		text-decoration: underline;
	}
}

@media screen and (min-width: $tablet){

	.inner-content {
		background: $color__background-inner;
		margin-bottom: 2em;
		padding: 2em;

	}

	.entry-content {
		margin: 0 auto;
		position: relative;
		max-width: 38em;
	}

	.entry-title {
		font-size: 3em;
	}

}

@media screen and (min-width: $desktop-content-width){

	.inner-content {
		padding: 2em;
		@include bottom-shadow();
	}

	.content-main {
		background-color: #ece7cc;
		padding: 2em calc(50% - 32em);
	}

}