.main-navigation {
	clear: both;
	color: white;
  display: block;
  margin-bottom: 2em;
	padding: 0 calc(50% - #{$desktop-content-width/2} );
  width: 100%;
  @include clearfix();
}

.menu--home {
	color: $color__menu-home;
	display: flex;
	flex-direction: column;
	font-size: 14px;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	
}

.menu--home > li {
	flex: 1 1 auto;
}

.menu--home a {
	display: inline-block;
	padding: 0.65em 1.5em;
	transition: all .2s;

	&:hover {
		background: rgba(0,0,0,0.25);
		color: #dde8cc;
	}
}

@media screen and (min-width: 35em){
  	
  	.menu--home {
  		flex-direction: row;
		text-align: left;
  	}

}

@media screen and (min-width: 63.125em){

  .menu--home > li {
	flex: 0 1 auto;
	}

}