nav a:focus {

}

#primary-menu > li:first-of-type {
  border: none;


  & > a {
    display: none; // hide 'Research Areas' link
  }

}

.page-navigation {
	background: $color__green;
	clear: both;
	color: #fff;
  display: block;
  width: 100%;
  @include clearfix();

}


// <ul>
.menu--page {
  // background: $color__menu-page;
  background: darken($color__green, 15%);
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;

	// <li>
	.menu-item {

	  border-bottom: 1px solid hsla(0,100%,100%,0.1);
	  position: relative;

	  a {
	    display: block;
	    padding: .5em 1em;
	    text-decoration: none;
	  }

    a:hover {
      color: #fff;
    }
	}

}
// <ul> sub-menu (one menu deep)
.sub-menu {

  display: block;
  list-style: none;
  padding: 0;

  ul {
    left: -999em;
    top: 0;
  }

  li {
    &:hover > ul,
    &.focus > ul {
      left: 100%;
    }
  }

  a {
    padding: 0.5em 1em;
  }

}

/* Small menu. */

.menu-toggle {
  background: transparent;
  color: white;
  text-align: right;
  width: 100%;
  border: none;
  border-bottom: 1px solid hsla(0,100%,100%,0.25);
  padding: 0.5em 1em;

  &:active {
		background: #336600;
  }

  &:focus {
  	outline: none;
  }
}

@media screen and (min-width: $tablet) {

  #primary-menu > li:first-of-type {
    border: none;
    // border-bottom: 1px solid green;

    & > a {
      display: block; // hide 'Research Areas' link
    }

  }

  .menu-toggle {
    display: none;
  }

  // <ul>
  .menu--page {

    display: block;

	  // <li>
	  .menu-item {
	    border: none;
	    color: #c6dab2;
	    float: left;
	  }

	  .menu-item:hover {
	    background: darken($color__green, 15%);
	    color: #cfdec0;
	  }

	  .menu-item.current-menu-item {
	    background: $color__background-inner;
	    border-bottom: 1px solid $color__background-inner;
	    color: darken($color__green, 5);

	    &:hover {
	      background: $color__background-inner;
	    }
      &:hover a {
        //color: darken($color__green, 5);
      }
	  }

	  .menu-item:hover > ul,
	  .menu-item.focus > ul {
	    //left: 1em;
	    opacity: 1.0;
	    visibility: visible;
	  }


	  .sub-menu {
	    background: $color__green;
	    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	    float: left;
	    position: absolute;
	    opacity: 0.0;
	    // left: -999em;
	    transition: all .2s;
	    visibility: hidden;
	    z-index: 99999;

	    a {
	      padding: 0.5em 1em;
	      width: 340px;
	    }

	    li {
	      background: darken($color__green, 15%);
	      border-bottom: none;
	      margin-right: 0;
	    }

	    li.current-menu-item  {
	      background: darken($color__green, 15%);
	      border-bottom: none;
	      color: #cfdec0;
	      font-weight: 700;

	      &:hover {
	        background: darken($color__green, 15%);
	        color: #cfdec0;
	      }
	    }

	    ul {
	      left: -999em;
	      top: 0;
	    }
	  }
	}
}


@media screen and (min-width: $desktop){

	.page-navigation {
		margin-top: 1em;
		padding: 0 calc(50% - 32em);
	}

  .menu--page {

  	// <li>
	  .menu-item {
	    background: darken($color__green, 5%);
	    border: none;
	    color: #a3bf87;
	    margin-right: 0.25em;
	  }

	  .menu-item.current-menu-item {
	    background: $color__background-body;
	    border-bottom: 1px solid $color__background-body;

	    &:hover {
	      background: $color__background-body;
	    }

      a:hover {
        color: $color__green;
      }
	  }

  }

}