.edit-link {
	position: relative;
  padding: 0;
  font-weight: 900;
}

.entry-footer {
	clear: both;
}

.post-edit-link {
	background: #eaea74;
	display: block;
	padding: 5px 12px;
	margin-bottom: 1em;

	&:hover {
		background: #c7c71b;
	}
}