.edit-link {
	
}

.entry-footer {
	clear: both;
}

.post-edit-link {
  position: absolute;
  padding: 0;
  right: 1px;
  bottom: -15px;
	display: block;
	padding: 5px 12px;
	margin-bottom: 1em;
  font-weight: 500;
  color: #999;

	&:hover {
		color: #333;
	}
}